---
layout: default
title: My blog
carousel:
 -  image: /images/slides/bg1.png
    main_heading: Hello World
    sub_heading: This is sub heading
    read_more_link: 2015/08/12/hello-world.html
 -  image: /images/slides/bg2.png
    main_heading: First Post
    sub_heading: This is sub heading
    read_more_link: 2015/08/13/first-post.html
 -  image: /images/slides/bg3.png
    main_heading: Paginator and Comment Module
    sub_heading: This is sub heading
    read_more_link: 2015/08/15/paginator-and-comment.html

---
<div class="container-fluid">
	<div class="row blog-header">
	{% if page.carousel %}
		{% include carousel2.html %}
	{% endif %}
	{% for post in site.posts %}
		<div class="blog-post col-md-8 col-md-offset-2">
			<!-- <img src="" alt=""> -->
			<h2 class="blog-post-title">{{post.title}}</h2>
			<p class="blog-post-meta">created by<a href="about.html"> Don </a>{{post.date | date_to_string}}</p>
			<p class="content">{{post.content | truncatewords: 25}}
	        </p>
	        <a href="{{post.url}}" class="btn btn-primary col-sm-3 col-sm-offset-8">Read more...</a>
			<br>
			<hr>
		</div>
	{% endfor %}
</div>
