---
layout: default
title: My blog
---
<!-- {% include header.html %} -->
<div class="container-fluid">
	<div class="jumbotron banner">
		<h1 class="blog-title">My GitHub Blog</h1>		
		<p class="lead blog-description">
			This is my GitHub blog. I hope you could enjoy it.
		</p>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-7 col-md-offset-1  blog-main">
				{% for post in paginator.posts %}
				<div class="blog-entry">
					<h3 class="blog-title">{{post.title}}</h3>
					<p class="blog-post-meta">{{post.date | date_to_string}}</p>
					<p class="blog-excerpt">{{post.content | strip_html | truncatewords: 10 }}</p>
					<a href="{{post.url}}" class="btn btn-primary col-sm-2 col-sm-offset-8">Read more...</a>
					<br>
					<hr>
				</div>
				{%endfor %}
			<!-- paginator module -->
			{% include paginator.html %}
		</div>

		<!-- sidebar module -->
		<div class="col-xs-6 col-md-3  blog-sidebar">
		<!-- 	<div class="sidebar-module">
				<div class="weather-content">
					<iframe src="http://i.tianqi.com/index.php?c=code&id=12&icon=3&py=guangzhou&num=1" frameborder="0" width="230" scrolling="no" height="60" allowtransparency="true"></iframe>
				</div>
			</div> -->
			<!-- {% include music-player.html %} -->
			<div class="sidebar-module">
				<h4>Tags</h4>
				<div class="wrapper">
					{% for tag in site.data.tags %}
					    <a class="tag" href="/blog/tag/{{ tag.slug }}"> {{ tag.name }}({{ site.tags[tag.name].size }})</a>
					{% endfor %}
				</div>
			</div>
			<div class="sidebar-module clearfix">
				<h4>External links</h4>
				<ol class="list-unstyled links-list wrapper">
					<li><a href="http://www.yivian.com"><img src="/dist/images/yivian_logo.png" alt="">YIVIAN</a></li>
					<li><a href="http://www.zhihu.com"><img src="/dist/images/zhihu_logo.png" alt="">ZHIHU</a></li>
					<li><a href="http://www.douban.com"><img src="/dist/images/douban_logo.png" alt="">DOUBAN</a></li>
					<li><a href="http://codepen.io/dontry018/"><img src="/dist/images/codepen_logo.svg" alt="">CODEPEN</a></li>
				</ol>
			</div>
			
		</div>
	</div>
</div>