---
layout: default
title: My blog
---
<!-- {% include header.html %} -->
<div class="container-fluid">
	<div class="jumbotron banner">
		<h1 class="blog-title">My GitHub Blog</h1>		
		<p class="lead blog-description">
			This is my GitHub blog. I hope you could enjoy it.
		</p>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-7 col-md-offset-1  blog-main">
				{% for post in paginator.posts %}
				<div class="blog-entry">
					<h3 class="blog-title">{{post.title}}</h3>
					<p class="blog-post-meta">{{post.date | date_to_string}}</p>
					<p class="blog-excerpt">{{post.content | strip_html | truncatewords: 10 }}</p>
					<a href="{{post.url}}" class="btn btn-primary col-sm-2 col-sm-offset-8">Read more...</a>
					<br>
					<hr>
				</div>
				{%endfor %}
			<!-- paginator module -->
			{% include paginator.html %}
		</div>

		<!-- sidebar module -->
		<div class="col-xs-6 col-md-3  blog-sidebar">
			<!-- <div class="sidebar-module well ">
				<div class="site">
					<a href="http://dontry.github.io/feed.xml" id="subscribe">
						<img id="rss-img" src="images/rss.png" alt="Subscribe to RSS feed">
					</a>
				</div>
				<h4>ALOHA~ &nbsp</h4>
				<p>
					Hey, welcome to my blog. Nice to meet you!
				</p>
			</div> -->
			<div class="sidebar-module">
				<div class="weather-content">
					<iframe src="http://i.tianqi.com/index.php?c=code&id=12&icon=3&py=guangzhou&num=1" frameborder="0" width="230" scrolling="no" height="60" allowtransparency="true"></iframe>
				</div>
			</div>
			{% include music-player.html %}
				<!-- <div class="sidebar-module">
					<h4 class="calendar-title">Canlendar</h4>
					<div class="month-container">
						<div class="month-head"><span></span></div>
						<ul class="month-body">
							<div class="month-cell blue"><span>Sun</span></div>
							<div class="month-cell blue"><span>Mon</span></div>
							<div class="month-cell blue"><span>Tue</span></div>
							<div class="month-cell blue"><span>Wed</span></div>
							<div class="month-cell blue"><span>Thu</span></div>
							<div class="month-cell blue"><span>Fri</span></div>
							<div class="month-cell blue"><span>Sat</span></div>
						</ul>
						<div class="clear"></div>
					</div>
				</div>

				<div class="sidebar-module">
					<h4>Archives</h4>
					<ol class="list-unstyled">
						<li><a href=""></a></li>
						<li><a href=""></a></li>
						<li><a href=""></a></li>
						<li><a href=""></a></li>
					</ol>
				</div>

				<div class="sidebar-module">
					<h4>Music player</h4>
					<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=280 height=110 src="http://music.163.com/outchain/player?type=1&id=2883909&auto=1&height=90"></iframe>
				</div> -->
			<div class="sidebar-module">
				<h4>Tags</h4>
				<div class="wrapper">
					{% for tag in site.data.tags %}
					    <a class="tag" href="/blog/tag/{{ tag.slug }}"> {{ tag.name }}({{ site.tags[tag.name].size }})</a>
					{% endfor %}
				</div>
			</div>
			<div class="sidebar-module clearfix">
				<h4>External links</h4>
				<ol class="list-unstyled links-list wrapper">
					<li><a href="http://www.yivian.com"><img src="/images/yivian_logo.png">YIVIAN</a></li>
					<li><a href="http://www.zhihu.com"><img src="/images/zhihu_logo.png">ZHIHU</a></li>
					<li><a href="http://www.douban.com"><img src="/images/douban_logo.png">DOUBAN</a></li>
					<li><a href="http://codepen.io/dontry018/"><img src="/images/codepen_logo.svg">CODEPEN</a></li>
				</ol>
			</div>
			
		</div>
	</div>
</div>


