<footer id="footer" class="footer">
	<div class="container">
		<p>
			Dontry 
			<i class="fa fa-fw fa-copyright"></i>
			2015. All Rights Reserved.</p>
		<ul class="social-links fa-ul">
			<li><a title="Sina Weibo" href="http://weibo.com/dongdongwontonnoodle/"><i class="fa fa-weibo fa-fw fa-2x"></i></a></li>
			<li><a class="jtooltip" title="Weixin" href="/images/weixin_code.png"><i class="fa fa-weixin fa-fw fa-2x"></i></a></li>
			<li><a class="jtooltip" title="QQ" href="/images/qq_code.png"><i class="fa fa-qq fa-fw fa-2x"></i></a></li>
			<li><a title="GitHub" href="http://www.github.com/dontry/"><i class="fa fa-github fa-fw fa-2x"></i></a></li>
		</ul>
	</div>
</footer>
<script type="text/javascript" src="/js/tooltip.js"></script>