<footer id="footer" class="footer container-fluid">
	<div class="container col-md-4 col-md-offset-4">
		<p>
			Dontry 
			<i class="fa fa-fw fa-copyright"></i>
			2015. All Rights Reserved.</p>
		<ul class="social-links fa-ul">
			<li><a title="Sina Weibo" href="http://weibo.com/dongdongwontonnoodle/"><i class="fa fa-weibo fa-fw fa-2x"></i></a></li>
			<li><a title="Weixin" href="#"><i class="fa fa-weixin fa-fw fa-2x"></i></a></li>
			<li><a title="QQ" href="http://qq.com"><i class="fa fa-qq fa-fw fa-2x"></i></a></li>
			<li><a title="GitHub" href="http://www.github.com/dontry/"><i class="fa fa-github fa-fw fa-2x"></i></a></li>
		</ul>
	</div>
</footer>