<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="containter-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#head-navbar">
                    <span class="sr-only">Switch Navbar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/index.html" class="navbar-brand">Don's blog</a>
            </div>
            <div class="navbar-collapse collapse" id="head-navbar">
                <ul class="nav navbar-nav">
                    <li class="blog-nav-item"><a href="/index.html"><i class="fa fa-home fw"></i>&nbsp HOME</a></li>
                    <li class="blog-nav-item"><a href="/archive.html"><i class="fa fa-folder fw"></i>&nbsp ARCHIVE</a></li>
                    <li class="blog-nav-item"><a href="/about"><i class="fa fa-info-circle fw"></i>&nbsp ABOUT</a></li>
                    <li class="blog-nav-item"><a href="/profile.html"><i class="fa fa-user fw"></i>&nbsp PROFILE</a></li>
                </ul>
                <input type="text" class="st-default-search-input">
            </div>
        </div>
    </nav>
    <script type="text/javascript">
    (function(w, d, t, u, n, s, e) {
        w['SwiftypeObject'] = n;
        w[n] = w[n] || function() {
            (w[n].q = w[n].q || []).push(arguments);
        };
        s = d.createElement(t);
        e = d.getElementsByTagName(t)[0];
        s.async = 1;
        s.src = u;
        e.parentNode.insertBefore(s, e);
    })(window, document, 'script', '//s.swiftypecdn.com/install/v2/st.js', '_st');

    _st('install', '2Tt3fbn75oQX-HV1vvHX', '2.0.0');
    </script>
</header>
