---
layout: default
author: Dontry
---
	<div class="blog-header"></div>
	<div class="blog-post clearfix">
		<div class="blog-post col-md-6 col-md-offset-3">
			<h3>{{page.title}}</h3>
			<p>{{page.content | markdownify}}</p>
		</div>
		<div class="col-md-6 col-md-offset-3 post-container">
		<!-- 多说评论框 start -->
		<div class="ds-thread" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-url="{{page.url}}">
			{% include tag.html %}
			<p id="post-meta">{{ tags_content }}</p>
		</div>
			<script type="text/javascript">
				(function() {
                    var ds = document.createElement("script");
					ds.type = "text/javascript";ds.async = true;
					ds.src = (document.location.protocol == "https:" ? "https:" : "http:") + "//static.duoshuo.com/embed.js";
					ds.charset = "UTF-8";
					(document.getElementsByTagName("head")[0] 
					|| document.getElementsByTagName("body")[0]).appendChild(ds);
				})();
			</script>
		<!-- 多说公共JS代码 end -->
		</div>
	</div>